In [1]:
import pandas as pd
stock_abc = pd.DataFrame({'close' : [11.25, 11.98, 10.74, 11.16, 12.35, 12.87, 13.03, 13.14, 13.37, 12.99]})

In [4]:
daily_returns = (stock_abc - stock_abc.shift(5)) / stock_abc.shift(5)

In [5]:
daily_returns

      close
0       NaN
1       NaN
2       NaN
3       NaN
4       NaN
5  0.144000
6  0.087646
7  0.223464
8  0.198029
9  0.051822